body{
    padding: 0;
    margin: 0;
}

.Container{
    background:url("./assets/banner.jpeg");
    background-repeat: no repeat;
    display: flex;
    justify-content: center;
}
.main-wrapper{
    background: #ffcc1a;
}
#heading-2{
    text-align: center;
    padding:20px;
}
.nav-items{
    display: flex;
    justify-content: space-around;
}
#nav-item{
    list-style: none;
    padding: 10px 85px;
    background:#000;
    color: #fff;
    border-radius: 5px;
}
#nav-item:hover{
    background: red;
    
    }
.Cheezy-img{
    display: flex;
    justify-content: center;
    background: #000;
    padding: 15px;
}
.Services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.Services img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#heading-3{
 text-align:center;
    padding: 20px;
}
.footer-icons{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-1{
    display: flex;
    justify-content: center;
}

.footer-2{
    text-align: center;
}
#info-button{
    background:#fff;
    
}